<h1>Manage Members</h1>

<div class="breadcrumb">
<%= link_to_unless_current 'Projects', projects_path(@project) %> >
<%= link_to_unless_current @project.name, project_path(@project) %> >
<%= link_to_unless_current 'Memberships', project_memberships_path(@project) %>
</div>

<%= form_for([@project, @membership], html: {class: "form-horizonal"}) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :full_name,
      {include_blank: "Please select.."},
      {class: "dropdown-toggle form-control"} %>
  </div>

<% end %>
