<%= form_for(@task) do |f| %>

  <% if @task.errors.any? %>
      <div id="error_explanation" class="form-group">
        <div class="alert alert-danger col-sm-offset-2 col-sm-4">
          <h4><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h4>

          <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <% if !current_page?(new_task_path) %>
    <%= f.label :complete %>
    <%= f.check_box :complete %>
  <% end %>

  <div class="due form-group">
    <%= f.label :due %>
    <%= f.date_field :due %>

  <div class="actions form-group">
    <%= f.submit %>
  </div>

  <% end %>
