<div class="container">
  <div class="page-header"><h1>Tasks for <%= @project.name %>
  <%= link_to 'Create Task', new_project_task_path(@project,@task),
  class: "btn btn-info btn-large pull-right" %></h1>
  <div class= "pull-right">
    <%= link_to_unless_current 'All', project_tasks_path(sort_by: "all")  %> |
    <%if params[:sort_by] == nil%>
      Incomplete
    <%else%>
      <%= link_to 'Incomplete', project_tasks_path %>
    <%end%>
  </div>
    <div class="breadcrumbs">
      <%= link_to_unless_current 'Projects', projects_path(@project) %> >
      <%= link_to_unless_current @project.name, project_path(@project) %> >
      <%= link_to_unless_current 'Tasks', project_tasks_path(@project,@task) %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
            <td><%= task.description %></td>
            <td><%= task.due %></td>
            <td><%= task.complete %></td>
            <td class="form-actions">
              <%= link_to 'Show', project_task_path(@project,task), class: "btn btn-success" %>
              <%= link_to 'Edit', edit_project_task_path(@project,task), class: "btn btn-primary" %>
              <%= link_to 'Destroy ', project_task_path(@project,task), class:"btn btn-danger btn-large", method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
