<div class="page-header"><h1>Tasks for <%= @project.name %>
  <%= link_to 'Create Task', new_project_task_path(@project,@task),
  class: "btn btn-info btn-large pull-right" %></h1>
  <div class= "pull-right">
    <%= link_to_unless_current 'All', project_tasks_path(sort_by: "all")  %> |
    <%if params[:sort_by] == nil%>
      Incomplete
    <%else%>
      <%= link_to 'Incomplete', project_tasks_path %>
    <%end%>
  </div>
      <ol class="breadcrumb">
        <li><a><%= link_to "Projects", projects_path %> </a></li>
        <li><a><%= link_to @project.name, project_path(@project) %> </a></li>
        <li class= "active">Tasks</li>
      </ol>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Due</th>
        <th>Completed</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @project.tasks.each do |task| %>
        <tr>
          <td><%= link_to task.description, project_task_path(@project, task)%>
          <span class="badge"><%= task.comments.count%></span>
          </td>
            <td>
          <% if task.due %>
            <%= task.due.strftime("%m/%d/%Y") %>
          <% else nil %>
          <%end%>
            </td>
                <td class="form-actions">
                <div class="pull-right">
                <%= link_to 'Edit', edit_project_task_path(@project,task), class: "btn btn-primary" %>
                <%= link_to "", project_task_path(@project,task),
                 method: :delete, data: { confirm: 'Are you sure?' },
                 class: "taskglyph glyphicon glyphicon-remove" %>

             </div>
            </td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
