<div class="col-sm-12">
  <div class="col-md-offset-4 col-md-4">
    <div class="well">
<h2 class="sign">Log in to gCamp</h2>

<%= form_tag signin_path do |f| %>
  <% if @sign_in_error %>
    <div class= "alert alert-danger"><%= @sign_in_error %></div>
  <% end %>

  <div class="form-group">
    <%= label_tag :email_address, "Email" %>
    <%= email_field_tag :email_address, "", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password, "", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= submit_tag "Enter", :class => 'btn btn-primary'%>
  </div>
<% end %>
    </div>
  </div>
</div>
