<div class="container">
    <div class="col-md-offset-4 col-md-4">
      <div class="well">

    <h2>Sign in to gCamp</h2>

      <%= form_tag signin_path do |f| %>

    <div>
        <%= label_tag :email_address, "Email"%>
      <%= email_field_tag :email_address, "", class:"form-control, col-sm-12" %>
    </div>


      <%= label_tag :password, "Password"%>
      <%= password_field_tag :password, "",  class:"form-control, col-sm-12" %>

    <hr>

    <div>
      <%= submit_tag "Sign In", :class => 'btn btn-primary'%>
    </div>

  <% end %>

</div>
  </div>
      </div>
