<%= form_for(@user) do |f| %>

  <div class="First Name">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="Last Name">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

  <div class="Email">
    <%= f.label :email_address %>
    <%= f.email_field :email_address %>
  </div>

  <div class="Password">
    <%= f.label :password %>
    <%= f.password_field :password %>

  <div class="Password Confirmation">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>


      <%= f.submit :class => 'btn btn-primary'%>

<% end %>
