<div class="container">

<%= link_to 'Create User', new_user_path, class: "btn btn-info pull-right"%>

     <table class="table">
       <thead>
         <tr>
           <th>Name</th>
           <th>Email</th>
         </tr>
       </thead>

       <tbody>
         <% @users.each do |user| %>
           <tr>
               <td><%= link_to user.first_name, user_path(user) %><%= " " %><%= link_to user.last_name, user_path(user) %></td>
               <td><%= link_to user.email_address, user_path(user) %></td>
               <td class="form-actions">
                 <%= link_to 'Show', user, class: "btn btn-success" %>
                 <%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary" %>
                 <%= link_to 'Destroy ', user, class:"btn btn-danger btn-large", method: :delete, data: { confirm: 'Are you sure?' } %>
               </td>
           </tr>
         <% end %>
       </tbody>
     </table>

</div>
