<div class="container">
    <div class="col-md-offset-4 col-md-4">
      <div class="well">
  <h2>Sign Up for gCamp!</h2>


  <div>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul class="list-unstyled">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= form_for @user, url: sign_up_path do |f| %>

    <div class="First Name">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="Last Name">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="Email">
      <%= f.label :email_address %>
      <%= f.email_field :email_address %>
    </div>

    <div class="Password">
      <%= f.label :password %>
      <%= f.password_field :password %>

    <div class="Password Confirmation">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password %>
    </div>

        <%= submit_tag "Sign Up", :class => 'btn btn-primary'%>

  <% end %>
      </div>
    </div>
</div>
