<%= page_header "Projects" do %>
  <%= link_to 'Create Project', new_project_path, class:"btn btn-primary" %>
<% end %>
  <table class = "table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tasks</th>
        <th>Memberships</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project) %><br>
          </td>
          <td>
            <%= link_to "#{project.tasks.count}", project_tasks_path(project) %>
          </td>
          <td>
            <%= link_to "#{project.memberships.count}", project_memberships_path(project) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<hr>

<div class="page-header">
  <h1>Pivotal Tracker Projects</h1>
</div>

<table class="table">
  <thead>
    <th>
      Name
    </th>
  </thead>
    <tbody>
    <% unless @tracker_projects == nil %>
      <% @tracker_projects.each do |project|%>
        <tr>
          <td>
            <%= link_to project[:name], tracker_project_path(project[:id]) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
