<section class= "container">
  <header class= "page-header">
    <p id="notice"><%= notice %></p>
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info" %>
      <%= link_to 'Destroy', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
    <h1><strong><%= @project.name %></strong></h1>
  </header>
</section>

<div class="breadcrumb">
<%= link_to_unless_current 'Projects', projects_path(@project) %> >
<%= link_to_unless_current @project.name, project_path(@project) %> >
<%= link_to_unless_current 'Tasks', project_tasks_path(@project,@task) %>
</div>

<div class="container">
<%= link_to "#{@project.tasks.count} tasks", project_tasks_path(@project)%>
</div>
<br>
<div class="container">
  <%= link_to "#{@project.memberships.count} members", project_memberships_path(@project) %>
</div>

<br>

<div class="container">
<%= link_to 'Back', projects_path %>
</div>
