<section class= "container">
  <header class= "page-header">

    <div class="pull-right">
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info" %>
      <%= link_to 'Destroy', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
    <h1><strong><%= @project.name %></strong></h1>
  </header>
</section>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li class="active"><%= @project.name %></li>
</ol>

<div class="container">
<%= link_to (pluralize(@project.tasks.count, "Task")), project_tasks_path(@project, @tasks)%>
</div>

<br>

<div class="container">
  <%= link_to (pluralize(@project.memberships.count,"Member")), project_memberships_path(@project) %>
</div>

<br>

<div class="container">
<%= link_to 'Back', projects_path %>
</div>
