<!DOCTYPE html>
<html lang="en">
  <head>
      <title>gCamp</title>
    <%= stylesheet_link_tag 'application' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "gCamp", root_path, id:"gCamphome" %>
      </div>
        <div class="navbar-header, text-right">
            <div>
  <% if current_user %>
    <%= link_to "Sign Out", signout_path %> |

  <% else %>

    <%= link_to "Sign Up", sign_up_path %> |

    <%= link_to "Sign In", signin_path %>

  <% end %>
  </div>|
        </div>
    </div>
  </div>


  <%= yield %>


    <footer>
      <div class = "container">
        <hr>
      <%= link_to_unless_current "About", about_path %> |
      <%= link_to_unless_current "Terms", terms_path %> |
      <%= link_to_unless_current "FAQ", faq_path %> |
      <%= link_to_unless_current "Tasks", tasks_path %> |
      <%= link_to_unless_current "Users", users_path %> |
      <%= link_to_unless_current "Sign Up", sign_up_path %>



        <div class = "icons">
            <%= link_to "https://www.twitter.com/dpmidd" do %>
              <%= image_tag("twitterlogo.png", width: "20em") %>
            <% end %>

            <%= link_to "https://www.github.com/dmidd87" do %>
              <%= image_tag("github.png", width: "20em") %>
            <% end %>

            <%= link_to "https://www.linkedin.com/pub/david-middleton/49/48a/788" do %>
              <%= image_tag("linkedin.png", width: "20em") %>
            <% end %>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
