<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'application' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "gCamp", root_path, id:"gCamphome" %>
      </div>
    </div>
  </div>

  <%= yield %>
    <br>
    <footer>
      <div class = "container">
        <hr>
      <%= link_to_unless_current "About", two_path %> |
      <%= link_to_unless_current "Terms", three_path %> |
      <%= link_to_unless_current "FAQ", four_path %>
    </div>
    </footer>
  </body>
</html>
